.tile {
	height: 500px;
	width: 100%;
	background-color: lightblue;
}

.toolbar {
	height: 60px;
	background-color: red;
	width: 100%;
}

.columnContainer {
	clear: none;
	margin-left: 50px;
	margin-right: 50px;
}

.container {
	background-color: blue;
	height: 200px;
	width: 200px;
}

.scrumColumn {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding: 10px;
	min-height: 200px;
	width: 400px;
	float: left;
	border: 1px solid black;
	background-color: purple;
}

.columnHeader {
	font-size: 20px;
}

.taskBox {
	width: 80px;
	min-height: 40px;
	background-color: pink;
	float: left;
	border: 1px solid black;
}

.headerBox {
	width: 200px;
	margin: auto;
	width: 100%;
	height: 100%;
	background-color: teal;
}

.headerTitle {
	font-size: 32px;
}

.inputText {
	height: 30px;
	padding: 0;
	border: none;
}

.inputButton {
	height: 30px;
	border: none;
}